[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
jc = "*"
google-cloud-bigquery = "*"
google-cloud-firestore = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pulumi = "*"
pulumi-aws = "*"
pulumi-alicloud = "*"
pulumi-gcp = "*"
cryptography = "*"

[requires]
python_version = "3.9"
