[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fra = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
setuptools = "*"
pytest = "*"
build = "*"

[requires]
python_version = "3.9"
